.main-navigation {
  display: block;
  font-weight: normal;
  letter-spacing: 2px;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
  ul {
	clear: both;
	list-style: none;
	margin: 0;
	padding-left: 0;
	&:first-child {
	  display: none;
	  > li:last-of-type a {
		border-bottom: 0;
	  }
	}
	ul {
	  ul {
		li a {
		  padding-left: 28px;
		}
		ul li a {
		  padding-left: 42px;
		}
	  }
	  li a {
		padding-left: 14px;
	  }
	}
  }
  li {
	display: block;
	position: relative;
	&:hover > a {
	  color: #f68060;
	}
  }
  a {
	border-bottom: 1px solid #eeeeee;
	color: #999999;
	display: block;
	padding: 13px 0 14px;
	text-decoration: none;
  }
  &.toggled .nav-menu {
	display: block;
  }
}
.menu-toggle {
  display: block;
  border: 1px solid #eeeeee;
  clear: none;
  float: right;
  padding: 5px 7px;
  position: relative;
  &:before {
	content: "\f419";
	font-size: 16px;
	margin-right: 5px;
	vertical-align: text-bottom;
  }
}
.has-site-logo .main-navigation {
  height: 70px;
  &.toggled {
	height: auto;
  }
}
.current_page_item a {
  color: #f68060;
}
.current-menu-item a {
  color: #f68060;
}
.toggled .menu-toggle {
  border-color: #f68060;
  color: #f68060;
}

/* This ensures most tablet-sized devices will see the toggle menu */
@media screen and ( min-width: 1281px ) {
  .menu-toggle {
	display: none;
  }
  .site-logo {
	max-height: 100px;
  }
  .has-site-logo .main-navigation {
	height: 100px;
  }
  .has-site-logo .main-navigation > div,
  .has-site-logo .main-navigation > ul {
	position: relative;
	top: 50%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
  }
  .main-navigation {
	font-size: 0.8125em;
	line-height: 2.09231em;
	clear: none;
	float: right;
	max-width: 50%;
	text-align: right;
  }
  .main-navigation ul:first-child {
	display: block;
  }
  .main-navigation ul li {
	display: inline-block;
  }
  .main-navigation ul li:hover > ul {
	display: block;
	opacity: 1;
	visibility: visible;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
  }
  .main-navigation ul a {
	border-bottom: 0;
	padding: 5px 0 5px 14px;
  }
  .main-navigation ul ul {
	background: white;
	border: 1px solid #eeeeee;
	display: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	float: left;
	opacity: 0;
	padding: 0 7px;
	position: absolute;
	top: 27px;
	left: 0;
	text-align: left;
	visibility: hidden;
	z-index: 99999;
  }
  .main-navigation ul ul li {
	border-bottom: 1px solid #eeeeee;
	padding: 5px 5px 4px;
  }
  .main-navigation ul ul li:last-of-type {
	border-bottom: 0;
  }
  .main-navigation ul ul li a {
	line-height: 1.5;
	padding: 5px;
	width: 180px;
  }
  .main-navigation ul ul ul {
	left: 100%;
	top: 0;
  }
  .main-navigation ul ul li a,
  .main-navigation ul ul ul li a,
  .main-navigation ul ul ul ul li a {
	padding-left: 5px;
  }
}