.portfolio {
    text-align:center;
    
    &a {
        outline: 0;
        color: #fff;
        background: none;
    }
    
    &a:hover {
        outline: 0;
        color: #fff;
    }
    
    &a:active {
        outline: 0;
        color: #fff;
    }
    
    &a:focus {
        outline: 0;
        color: #fff;
    }

}