.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-header {
  background-color: #f7f7f7;
  border: 1px solid #eee;
  text-align: center;
  line-height: 1;
}


.entry-title {
    margin: 27px 0px 8px 0px;
    
    a {
        text-decoration: none;
        font-size: 24px;
        margin: 0px 0px 10px;
        font-weight: 400;
        color: #000;
    }
}

.entry-meta {
    font-size: 14px;
    a {
        color: #777;
        text-decoration: none;
    }
}