.availability {
  &_card {
    background-color: #ECECEC;
    width: 300px;
    display: inline-block;
    text-align: center;
  }

  &_header {
    padding: 10px;
    background-color: #05B2D2;
    color: #fff; }

  &_content {
    padding: 10px; }

  &_divider {
    height: 1px;
    margin-bottom: 0;
    padding: 0; }
}